@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pink-50/50 font-sans;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-pink-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-pink-400;
}

::-webkit-scrollbar-track {
  @apply bg-pink-50 rounded-full;
}
